# Python
**/__pycache__/
*.py[cod]
*$py.class
.Python
**/venv/
**/.venv/
**/.env

# IDE
.idea/
.vscode/

# Database
**/quant_trading.db
*.sqlite3

# Logs
*.log

# Project specific
project_structure.txt

# Backend specific
backend/static/